body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "ZCOOL KuaiLe";
}

* {
    user-select: none;
}

.align-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.button-group {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

    button {
        font-family: "Josefin Sans";
        padding: 7px 15px;
        font-size: 17px;
        margin: 10px 7px;
        border-radius: 20px;
        background-color: #fff;
        border: 1px solid #000;
        outline: none;
        cursor: pointer;

        &:hover {
            background-color: #313131;
            color: #fff;
        }

        &:active {
            background-color: #000;
        }
    }
}

.center {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.table {
    padding: 0px 20px;
    border: 2px dotted #eee;
    border-radius: 10px;
    display: inline-block;
    margin: 0 auto;
    background-color: #fff;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    display: inline-block;

    thead {
        border-bottom: 1px solid #313131;
    }

    td,
    th {
        padding: 15px 23px;
        margin: 0;
    }
}

#bg {
    position: absolute;
    top: -4000px;
    left: -4000px;
    width: 8000px;
    height: 8000px;
    background: url('../../static/bg.png') left top repeat;
    z-index: -1;
    -webkit-animation: infinitescroll 10s linear infinite;
    -moz-animation: infinitescroll 10s linear infinite;
    -ms-animation: infinitescroll 10s linear infinite;
    -o-animation: infinitescroll 10s linear infinite;
    animation: infinitescroll 10s linear infinite;
}

@keyframes infinitescroll {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(376px, 376px, 0);
    }
}