.spinner3 {
    position: absolute;
    width: var(--size);
    height: var(--size);
    top: calc(50% - var(--size) / 2);
    left: calc(50% - var(--size) / 2);
    animation: rotate 2.0s infinite linear;

    .dot1,
    .dot2 {
        width: 50%;
        height: 50%;
        display: inline-block;
        position: absolute;
        top: 0;
        background-color: var(--color);
        border-radius: 100%;
        animation: bounce 2.0s infinite ease-in-out;
    }

    .dot2 {
        top: auto;
        bottom: 0px;
        animation-delay: -1.0s;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
    }
}