$size: calc(var(--size) * 0.2);
$margin: 5px;
$rawWidth: calc(#{$size} + #{$margin});

.spinner7 {
  position: absolute;
  width: calc(#{$rawWidth} * 4);
  height: $size;
  text-align: center;
  top: calc(50% - #{$size} / 2);
  left: calc(50% - calc(#{$rawWidth} * 4) / 2);
}

.spinner7>div {
  background-color: var(--color);
  height: $size;
  width: $size;
  margin-left: $margin / 2;
  margin-right: $margin / 2;
  border-radius: 50%;
  display: inline-block;

  animation: stretchdelay 0.9s infinite ease-in-out;
}

.spinner7 .circ2 {
  animation-delay: -0.6s;
}

.spinner7 .circ3 {
  animation-delay: -0.5s;
}

.spinner7 .circ4 {
  animation-delay: -0.4s;
}

.spinner7 .circ5 {
  animation-delay: -0.3s;
}


@keyframes stretchdelay {

  0%,
  40%,
  100% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-10px);
  }
}